<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Orange CSS -->
    <link rel="stylesheet" href="https://cdn.orangecss.com/1.4.1/css/orange.min.css">
    <title>Uulan Ba?</title>
  </head>
  <body>
  	  <h1>Uulan Ba?</h1>
      <form method="POST" action='/'>
          <label for="city">Eh taga saan ka ba? (Please use single word cities)</label>
          <input type="text" name="city">
          <input type="submit" value="I-search">
      </form>
      <br>
      <p>City Name: <%= @name %> </p>
      <p>Uulan ba sa <%= @city.capitalize %> ngayon? <%= @status2hrs %> | <%= @time2hrs %></p>
      <p>Uulan ba sa <%= @city.capitalize %> mamaya? <%= @status5hrs %> | <%= @time5hrs %> </p>
      <p>Uulan ba sa <%= @city.capitalize %> in ~8 Hours? <%= @status8hrs %> | <%= @time8hrs %> </p>
      <p>Uulan ba sa <%= @city.capitalize %> bukas? <%= @status22hrs %> | <%= @time22hrs %> </p>
      <p>Uulan ba sa <%= @city.capitalize %> in 2 days? <%= @status48hrs %> | <%= @time48hrs %> </p>
      <p>Uulan ba sa <%= @city.capitalize %> in 3 days? <%= @status72hrs %> | <%= @time72hrs %> </p>
  </body>
</html>