<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Orange CSS -->
    <link rel="stylesheet" href="https://cdn.orangecss.com/1.4.1/css/orange.min.css">
    <title>Uulan Ba?</title>
  </head>
  <body>
  	  <h1>Uulan Ba?</h1>
      <p>Uulan ba sa <%= @city %> in ~2 Hours? <%= @status2hrs %> | <%= @time2hrs %></p>
      <p>Uulan ba sa <%= @city %> in ~5 Hours? <%= @status5hrs %> | <%= @time5hrs %> </p>
      <a href="/Taguig">Check Taguig</a><br>
      <a href="/Makati">Check Makati</a><br>
      <a href="/Cebu">Check Cebu</a><br>
      <a href="/Davao">Check Davao</a><br>
  </body>
</html>