<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Orange CSS -->
    <link rel="stylesheet" href="https://cdn.orangecss.com/1.4.1/css/orange.min.css">
    <title>Uulan Ba?</title>
  </head>
  <body>
      <div class="grid grid--columns-auto-narrow fs-omega color-gray" style="text-align: center">
          <div>
            <a class="color-gray-light"  href="/Manila">Manila</a>
          </div>
          <div>
            <a class="color-gray-light"  href="/Quezon%20City">Quezon City</a>
          </div>
          <div>
            <a class="color-gray-light"  href="/Makati">Makati</a>
          </div>
          <div>
            <a class="color-gray-light"  href="/Pasig">Pasig</a>
          </div>
          <div>
            <a class="color-gray-light"  href="/Taguig">Taguig</a>
          </div>
          <div>
            <a class="color-gray-light"  href="/Paranaque">Paranaque</a>
          </div>
          <div>
            <a class="color-gray-light"  href="/Mandaluyong">Mandaluyong</a>
          </div>
          <div>
            <a class="color-gray-light"  href="/Muntinlupa">Muntinlupa</a>
          </div>
          <div>
            <a class="color-gray-light"  href="/San%20Juan">San Juan</a>
          </div>
          <div>
            <a class="color-gray-light"  href="/Las%20Pinas">Las Pinas</a>
          </div>
          <div>
            <a class="color-gray-light"  href="/Cebu%20City">Cebu City</a>
          </div>
          <div>
            <a class="color-gray-light"  href="/Davao%20City">Davao City</a>
          </div>
      </div>
  	  <h1 style="text-align: center">Uulan ba sa <%= @name %>?</h1>
        <p style="text-align: center">Ngayong araw, <%= @time2hrs.strftime("%H:%M %p") %>: <%= @status2hrs %></p>
        <p style="text-align: center">Ngayong araw, <%= @time5hrs.strftime("%H:%M %p") %>: <%= @status5hrs %></p>
        <p style="text-align: center">Ngayong araw, <%= @time8hrs.strftime("%H:%M %p") %>: <%= @status8hrs %></p>
        <p style="text-align: center">Kinabukasan, <%= @time22hrs.strftime("%H:%M %p") %>: <%= @status22hrs %></p>
        <p style="text-align: center">Sa dalawang araw, <%= @time48hrs.strftime("%H:%M %p") %>: <%= @status48hrs %></p>
        <p style="text-align: center">Sa tatlong araw, <%= @time72hrs.strftime("%H:%M %p") %>: <%= @status72hrs %></p>
  </body>
</html>