<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Uulan Ba?</title>
  </head>
  <body>
  	  <h1>Uulan Ba?</h1>
      <p>Uulan ba sa <%= @city %> in ~2 Hours? <%= @status2hrs %> | <%= @time2hrs %></p>
      <p>Uulan ba sa <%= @city %> in ~5 Hours? <%= @status5hrs %> | <%= @time5hrs %> </p>
      <a href="/Taguig">Check Taguig</a><br>
      <a href="/Makati">Check Makati</a><br>
      <a href="/Cebu">Check Cebu</a><br>
      <a href="/Davao">Check Davao</a><br>
  </body>
</html>